body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
}

.page-wrapper {
    padding: 25px;
    background-image: url("Background.jpg");
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
}

.form-card {
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px 40px;
    animation: slideUp 0.6s ease-out;
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

.form-header {
    text-align: center;
    margin-top: -20px;    
    margin-left: -40px;   
    margin-right: -40px;  
    padding: 30px 40px;
    margin-bottom: 40px;
    border-radius: 20px 20px 0 0;
    background-color: #ef6767; 
    border-bottom: 1px solid #eee;
}

.form-header p {
    color: #fafcff;
    font-size: 16px;
}

h3 {
    color: #2575fc;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #eff0f6;
}

.input-row {
    display: flex;
    gap: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 8px;

}

input[type="text"],
input[type="email"],
input[type="radio"],
select,
textarea{
    background-color: #c9c9c4;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 15px;
    font-size: 15px;
    font-family: inherit;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}
textarea{
    background-color: #c9c9c4;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border-color: #2575fc;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 18px;
    margin-top: 10px;
    background: #ef6767;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(37, 117, 252, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(37, 117, 252, 0.4);
}

